/* #insraction{
    position: absolute;
    display: block;
    width: 90%;
    height: 75%;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(180, 153, 171);
    border-radius: 40px;
    padding: 30px;
    justify-content: center;
    z-index: 1;
    line-height: 1.5;

  } */

  #countiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%; 
    margin-left: 60px;
}

#div1{
    background-color: rgb(216, 175, 208);
     width:36%; 
    margin: 0;
    border: 2px solid black;
    height:250px;

}
#div2{
    background-color: rgb(106, 72, 118);
    width:36%; 
    height:250px;
    margin: 0;
    border: 2px solid black;
}
#div3{
    background-color: rgb(106, 72, 118);
    width:36%; 
    height: 250px;
    margin: 0;
    border: 2px solid black;
}
#div4{
    background-color: rgb(106, 72, 118);
    width:36%; 
    height:250px;
    margin: 0;
    border: 2px solid black;
}
 section p{
    background-color: rgb(233, 218, 218);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 100px; 
    border: 1.5px solid rgb(69, 38, 58); 
    padding: 5px;
    text-align: center;
    width:72%; 
}
 section{
    /* margin-left: 200px; */
    margin-right:350px;
    margin-top: 130px;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
     

 }
 
