#insraction{
    position: absolute;
    display: block;
    width: 90%;
    height: 75%;
    font-size: 40px;
    background-color:rgb(180, 153, 171);
    border-radius: 40px;
    padding: 30px;
    justify-content: center;
    z-index: 1;
    line-height: 1.5;
    top:163px;
    margin-right: 40px;
  }

  #countiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%; 
    margin-left: 60px;
}

#div1{
    background-color: rgb(216, 175, 208);
     width:36%; 
    margin: 0;
    border: 2px solid black;
    height:250px;

}
#div2{
    background-color: rgb(106, 72, 118);
    width:36%; 
    height:250px;
    margin: 0;
    border: 2px solid black;
}
#div3{
    background-color: rgb(106, 72, 118);
    width:36%; 
    height: 250px;
    margin: 0;
    border: 2px solid black;
}
#div4{
    background-color: rgb(106, 72, 118);
    width:36%; 
    height:250px;
    margin: 0;
    border: 2px solid black;
}
 section p{
    background-color: rgb(233, 218, 218);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 100px; 
    border: 1.5px solid rgb(69, 38, 58); 
    padding: 5px;
    text-align: center;
    width:72%; 
}
 section{
    margin-right: 350px;
    margin-top: 80px;
    justify-content: center;
 }

 #eix:hover{
    font-size: 40px;
    box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px whitesmoke;
 }
 
 #countinerForLog{
    display: flex;
    flex-direction: column;
}

#logoutBottem{
    background-color: #c9377b;
    border: 0px solid black;
    color: whitesmoke;
    font-size: large;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logoutBottem:hover{
    text-shadow: 1px 1px 5px black, 0 0 25px white, 0 0 10px whitesmoke;
    box-shadow: 1px 1px 5px black, 0 0 25px white, 0 0 10px whitesmoke;
}
 main{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
 }


 #back{
    background-color: #c9377b;
    color: whitesmoke;
    font-size: 90px;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top:800px;
    right: 100px;
    display: flex;
    align-items: center;
 }

 #back:hover{
    text-shadow: 1px 1px 5px black, 0 0 30px white, 0 0 10px whitesmoke;
    box-shadow:1px 1px 5px black, 0 0 30px rgb(130, 42, 111), 0 0 20px rgb(186, 38, 167) ;
    transform: scale(1.1);
    transition: 1s;
 }
