th{
    font-size: 25px;
    background-color: lightpink;
    margin: 10px;
}
td{
    font-size: 20px;
    
}
table{
    background-color: rgb(255, 225, 229);
    width: 40vw;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#countinerForLog{
    display: flex;
    flex-direction: column;
}

#logoutBottem{
    background-color: #c9377b;
    border: 0px solid black;
    color: whitesmoke;
    font-size: large;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logoutBottem:hover{
    text-shadow: 1px 1px 5px black, 0 0 25px white, 0 0 10px whitesmoke;
    box-shadow: 1px 1px 5px black, 0 0 25px white, 0 0 10px whitesmoke;
}